.DS_Store
*.pyc
*.egg-info
*.swp
__pycache__
dev-dist
tags
node_modules
crm/public/frontend
frontend/yarn.lock
crm/www/crm.html
build

# Local IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local containers
.devcontainer/
docker/

# CI tools
.github/
